{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'css/survey.css' %}">
    <style>
    <title>여행 경로 추천 설문조사</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 100%;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            display: grid;
            gap: 15px;
        }

        label {
            font-weight: bold;
        }



        input[type="submit"] {
            width: 30%;
            padding: 10px;
            margin: 0 auto;            
            background-color: rebeccapurple;
            color: white;
            cursor: pointer;
        }

        .question-container {
            text-align: center;
        }
        
    </style>
</head>
<body>

<div class="container">

<h1 style='text-align:center;'>여행 경로 추천 설문조사</h1>

<form method="post" action="{% url 'survey' %}">
    {% csrf_token %}

    <div class="question-container">
        <p class="question">성별을 선택해주세요</p>
        <div class="response-options">
            <label class="option">
                <input type="radio" name="gender" value="남">
                <span class="button button-8">남</span>
            </label>
            <label class="option">
                <input type="radio" name="gender" value="여">
                <span class="button button-8">여</span>
        </div>
    </div>

    <div class="question-container">
        <p class="question">연령대를 선택해주세요</p>
        <div class="response-options">
            <label class="option">
                <input type="radio" name="age" value="1">
                <span class="button button-9">20대</span>
            </label>
            <label class="option">
                <input type="radio" name="age" value="2">
                <span class="button button-9">30대</span>
            </label>
            <label class="option">
                <input type="radio" name="age" value="3">
                <span class="button button-9">40대</span>
            </label>
            <label class="option">
                <input type="radio" name="age" value="4">
                <span class="button button-9">50대</span>
            </label>
            <label class="option">
                <input type="radio" name="age" value="5">
                <span class="button button-9">60대 이상</span>
            </label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">여행 경비</p>
        <div class="response-options">
            <label class="option">
                <input type="radio" name="payment" value="0">
                <span class="button button-8">60만원이하</span>
            </label>
            <label class="option">
                <input type="radio" name="payment" value="1">
                <span class="button button-8">60만원이상</span>
        </div>
    </div>

    <div class="question-container">
        <p class="question">이번 여행에서 가장 중요한 한 가지는?</p>
        <div class="response-options">
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="travel_mission" value="1">
                    <span class="button button-8">쇼핑</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="2">
                    <span class="button button-8">테마파크</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="3">
                    <span class="button button-8">역사 유적지</span>
                </label>
            </div>
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="travel_mission" value="4">
                    <span class="button button-8">시티 투어</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="5">
                    <span class="button button-8">레포츠 활동</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="6">
                    <span class="button button-8">예술 관람</span>
                </label>
            </div>
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="travel_mission" value="7">
                    <span class="button button-8">유흥과 오락</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="8">
                    <span class="button button-8">캠핑</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="9">
                    <span class="button button-8">축제와 행사</span>
                </label>
            </div>
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="travel_mission" value="10">
                    <span class="button button-8">스파와 온천</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="12">
                    <span class="button button-8">드라마 촬영지</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="22">
                    <span class="button button-8">SNS 인생샷</span>
                </label>
            </div>
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="travel_mission" value="23">
                    <span class="button button-8">호캉스</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="25">
                    <span class="button button-8">반려동물 동반</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_mission" value="28">
                    <span class="button button-8">등반</span>
                </label>
            </div>
        </div>
    </div>

    <div class="question-container">
        <p class="question">아름답고 조용한 자연 vs 맛집 많고 번화한 도시</p>
        <div class="response-options">
            <label class="edge-label">자연</label>
            <label class="option">
                <input type="radio" name="travel_style_1" value="1">
                <span class="button button-1"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_1" value="2">
                <span class="button button-2"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_1" value="3">
                <span class="button button-3"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_1" value="4">
                <span class="button button-4"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_1" value="5">
                <span class="button button-5"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_1" value="6">
                <span class="button button-6"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_1" value="7">
                <span class="button button-7"> </span>
            </label>
            <label class="edge-label">도시</label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">숙박 스타일(삭제 예정)</p>
        <div class="response-options">
            <label class="edge-label">숙박</label>
            <label class="option">
                <input type="radio" name="travel_style_2" value="1">
                <span class="button button-1"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_2" value="2">
                <span class="button button-2"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_2" value="3">
                <span class="button button-3"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_2" value="4">
                <span class="button button-4"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_2" value="5">
                <span class="button button-5"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_2" value="6">
                <span class="button button-6"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_2" value="7">
                <span class="button button-7"> </span>
            </label>
            <label class="edge-label">당일</label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">가본 적 없는 새로운 곳 vs 내게 익숙한 바로 그 곳</p>
        <div class="response-options">
            <label class="edge-label">새로운</label>
            <label class="option">
                <input type="radio" name="travel_style_3" value="1">
                <span class="button button-1"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_3" value="2">
                <span class="button button-2"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_3" value="3">
                <span class="button button-3"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_3" value="4">
                <span class="button button-4"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_3" value="5">
                <span class="button button-5"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_3" value="6">
                <span class="button button-6"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_3" value="7">
                <span class="button button-7"> </span>
            </label>
            <label class="edge-label">익숙한</label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">숙박 스타일(삭제 예정)</p>
        <div class="response-options">
            <label class="edge-label">저렴한</label>
            <label class="option">
                <input type="radio" name="travel_style_4" value="1">
                <span class="button button-1"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_4" value="2">
                <span class="button button-2"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_4" value="3">
                <span class="button button-3"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_4" value="4">
                <span class="button button-4"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_4" value="5">
                <span class="button button-5"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_4" value="6">
                <span class="button button-6"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_4" value="7">
                <span class="button button-7"> </span>
            </label>
            <label class="edge-label">편안한</label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">편안한 휴식을 주는 여행 vs 다양한 체험이 있는 여행</p>
        <div class="response-options">
            <label class="edge-label">휴식</label>
            <label class="option">
                <input type="radio" name="travel_style_5" value="1">
                <span class="button button-1"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_5" value="2">
                <span class="button button-2"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_5" value="3">
                <span class="button button-3"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_5" value="4">
                <span class="button button-4"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_5" value="5">
                <span class="button button-5"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_5" value="6">
                <span class="button button-6"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_5" value="7">
                <span class="button button-7"> </span>
            </label>
            <label class="edge-label">체험</label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">잘 알려지지 않은 곳으로 vs 잘 알려진 핫 스페이스로</p>
        <div class="response-options">
            <label class="edge-label">모르는</label>
            <label class="option">
                <input type="radio" name="travel_style_6" value="1">
                <span class="button button-1"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_6" value="2">
                <span class="button button-2"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_6" value="3">
                <span class="button button-3"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_6" value="4">
                <span class="button button-4"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_6" value="5">
                <span class="button button-5"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_6" value="6">
                <span class="button button-6"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_6" value="7">
                <span class="button button-7"> </span>
            </label>
            <label class="edge-label">알려진</label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">계획을 따르는 만족스런 여행 vs 상황을 따르는 자유로운 여행</p>
        <div class="response-options">
            <label class="edge-label">계획</label>
            <label class="option">
                <input type="radio" name="travel_style_7" value="1">
                <span class="button button-1"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_7" value="2">
                <span class="button button-2"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_7" value="3">
                <span class="button button-3"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_7" value="4">
                <span class="button button-4"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_7" value="5">
                <span class="button button-5"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_7" value="6">
                <span class="button button-6"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_7" value="7">
                <span class="button button-7"> </span>
            </label>
            <label class="edge-label">상황</label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">사진보다는 경험이 우선 vs 사진을 남기는 것이 우선</p>
        <div class="response-options">
            <label class="edge-label">경험</label>
            <label class="option">
                <input type="radio" name="travel_style_8" value="1">
                <span class="button button-1"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_8" value="2">
                <span class="button button-2"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_8" value="3">
                <span class="button button-3"></span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_8" value="4">
                <span class="button button-4"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_8" value="5">
                <span class="button button-5"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_8" value="6">
                <span class="button button-6"> </span>
            </label>
            <label class="option">
                <input type="radio" name="travel_style_8" value="7">
                <span class="button button-7"> </span>
            </label>
            <label class="edge-label">사진</label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">여행 동기</p>
        <div class="response-options">
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="travel_motive" value="1">
                    <span class="button button-8">일상 탈출</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_motive" value="2">
                    <span class="button button-8">휴식</span>
                </label>
            </div>
                <div class="option-row">
                    <label class="option">
                        <input type="radio" name="travel_motive" value="3">
                        <span class="button button-8">우정 여행</span>
                    </label>
                    <label class="option">
                        <input type="radio" name="travel_motive" value="4">
                        <span class="button button-8">자아 찾기</span>
                    </label>
                </div>
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="travel_motive" value="5">
                    <span class="button button-8">SNS</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_motive" value="6">
                    <span class="button button-8">건강 증진</span>
                </label>
            </div>
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="travel_motive" value="7">
                    <span class="button button-8">새로운 경험</span>
                </label>
                <label class="option">
                    <input type="radio" name="travel_motive" value="8">
                    <span class="button button-8">교육</span>
                </label>
            </div>
        </div>
    </div>

    <div class="question-container">
        <p class="question">여행 빈도</p>
        <div class="response-options">
            <label class="option">
                <input type="radio" name="travel_num" value="1">
                <span class="button button-8">1회</span>
            </label>
            <label class="option">
                <input type="radio" name="travel_num" value="2">
                <span class="button button-8">2회</span>
            </label>
            <label class="option">
                <input type="radio" name="travel_num" value="3">
                <span class="button button-8">3회</span>
            </label>
            <label class="option">
                <input type="radio" name="travel_num" value="4">
                <span class="button button-8">4회</span>
            </label>
            <label class="option">
                <input type="radio" name="travel_num" value="5">
                <span class="button button-8">5회 이상</span>
            </label>
        </div>
    </div>

    <div class="question-container">
        <p class="question">동반자 수</p>
        <div class="response-options">
            <label class="option">
                <input type="radio" name="travel_companions_num" value="1">
                <span class="button button-8">1명</span>
            </label>
            <label class="option">
                <input type="radio" name="travel_companions_num" value="2">
                <span class="button button-8">2명</span>
            </label>
            <label class="option">
                <input type="radio" name="travel_companions_num" value="3">
                <span class="button button-8">3명</span>
            </label>
            <label class="option">
                <input type="radio" name="travel_companions_num" value="4">
                <span class="button button-8">4명</span>
            </label>
            <label class="option">
                <input type="radio" name="travel_companions_num" value="5">
                <span class="button button-8">5명 이상</span>
            </label>
        </div>
    </div>

    <input type="submit" value="제출">
</form>
<script src="{% static 'js/survey.js' %}"></script>
</body>
</html>


