/* General Styles */
.question-container {
    text-align: center;
}

.question {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.response-options {
    display: flex;
    justify-content: center;
}

.option {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

/* General Styles for All Buttons */
.button {
    display: block;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 20px 20px;
    text-align: center;
    color: #464545; /* White text */
}

/* Specific background colors for each button */
.button-1 { background-color: #68ee68; padding: 25px 25px;} 
.button-2 { background-color: #84ec84; padding: 23px 23px;} 
.button-3 { background-color: #bbf5bb; padding: 21px 21px;} 
.button-4 { background-color: #e9e9e9; } 
.button-5 { background-color: #c7dcfc; padding: 21px 21px;} 
.button-6 { background-color: #a6c9fd; padding: 23px 23px;} 
.button-7 { background-color: #6ca6fd; padding: 25px 25px;} 
.button-age { background-color: skyblue }
.button:hover {
    transform: scale(1.05);
}

/* Hide default radio buttons */
input[type="radio"] {
    display: none;
}


/* New styles for edge labels */
.edge-label {
    color:rgb(63, 63, 63);
    margin: 10px 10px;
    /* Adjust the padding to align with the buttons */
    padding: same as button height; 
    /* Additional styling as needed */
}